<div itemscope itemtype="http://schema.org/Person">
	<img src="{{ site.url }}{{ site.owner.avatar }}" alt="{{ site.owner.name }} bio photo">
	<h3 itemprop="name">{{ site.owner.name }}</h3>
	<p class="slogan">{{ site.owner.bio | markdownify | remove:'<p>' | remove:'</p>' }}</p>
	<p class="connect">connect <br>
		<a href="http://twitter.com/{{ site.owner.twitter }}" title="Twitter">{% include _svgs/_svg-twitter.html %}</a>
		<a href="http://{{ site.owner.tumblr }}.tumblr.com" title="Tumblr">{% include _svgs/_svg-tumblr.html %}</a>
		<a href="http://instagram.com/{{ site.owner.instagram }}" title="Instagram">{% include _svgs/_svg-instagram.html %}</a>
		<a href="http://github.com/{{ site.owner.github }}" title="GitHub">{% include _svgs/_svg-github.html %}</a>
		<a href="mailto:{{ site.owner.email }}" title="Email">{% include _svgs/_svg-envelope.html %}</a>
		<a href="/feed.xml" title="Feed">{% include _svgs/_svg-feed.html %}</a>
	</p>
</div>
