

<div itemscope itemtype="http://schema.org/Person">

{% if author.avatar contains 'http' %}
	<img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% else %}
	<img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% endif %}

  <h3 itemprop="name">{{ site.owner.name }}</h3>
  <p style="font-style:normal;">{{ site.owner.bio | markdownify | remove:'<p>' | remove:'</p>' }}</p>
  <a href="mailto:{{ author.email }}" class="soc soc-email" title="Email">{% include _svg-envelope.html %}</a>
	<a href="http://twitter.com/{{ author.twitter }}" class="soc soc-twitter" title="Twitter">{% include _svg-twitter.html %}</a>
	<a href="http://plus.google.com/+{{ author.google.plus }}" class="soc soc-google-plus" title="Google+" >{% include _svg-google-plus.html %}</a>
	<a href="http://{{ author.tumblr }}.tumblr.com"  class="soc soc-tumblr" title="Tumblr">{% include _svg-tumblr.html %}</a>
	<a href="http://github.com/{{ author.github }}"  class="soc soc-github" title="GitHub">{% include _svg-github.html %}</a>
</div>
