{% assign td = site.picserizer.target %}
{% assign dd = site.picserizer.default_dir %}
{% assign bf = include.base_image_filename %}


<figure class="figure post-figure">
<img class="img-fluid post-image"
src="/{{ td }}/{{ dd }}/{{ bf }}"
sizes="(min-width: 800px) 50vw, 100vw"
srcset="{% for size in site.picserizer.sizes %}{% if forloop.last %}
/{{ td }}/{{ size }}/{{ bf }}  {{ size }}w{% else %}
/{{ td }}/{{ size }}/{{ bf }}  {{ size }}w, {% endif %}{% endfor %}"
alt="{{ include.alt }}"
title="{{ include.title }}">
<figcaption class="figcaption post-caption">{{ include.caption }}</figcaption>
</figure>
