---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/rensburg-svg/svg-icons";
@import "vendor/magnific-popup/magnific-popup";

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {font-size:65%;}
h1, h2, h3, h4, h5, h6 {line-height:1.1;}
.footer-wrap footer span {font-size: 75%;}
.footer-wrap footer span a {font-size:100%;}
.acn {
  background-color: lighten($border-color,70);
  padding: 1em;
  border: 1px $border-color solid;
  @include rounded(3px);
}
.gallerypage img.thumbnail {
  max-height: 300px;
  max-width: 300px;
  width: auto;
  height: auto;
  margin:5px;
}
.site-name {
  text-align:center;
}
nav.pagination {
  text-align:center;
}

.text-highlight {
  background-color: darken($bodycolor,5);
	font-family: $code-font;
	@include font(10);
	color: darken($textcolor,5);
	margin-bottom: 1.5em;
	@include rounded(3px);
		position: relative;
		padding: 1em;
    white-space:pre-wrap;
}

pre {
  @include font-rem(10);
  line-height: 1.5;
  overflow-x: auto;
  background-color: darken($bodycolor,5);
	@include rounded(3px);
  padding: .5em;
  }

.center {
  text-align:center;
}

.aside {
  @include font-rem(10);
  background-color: lighten($text-color,70);
  color: lighten($textcolor,20);
  @include rounded(3px);
  padding: .5em;
  // width:40%;
  // margin-left:1em;
  // float:right;
}

.aside::before {
  content: "Aside  ";
  font-style:italic;
}
