<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page gallerypage">

{% include _navigation.html %}

<div id="main" role="main">
{% include _side-author-hack.html %}
  <article class="page">
    {% assign galleryname = site.data.gallerylist[page.gallery].title %}
    <h1>{{ galleryname }}</h1>
    <div class="article-wrap">
      {{ content }}
      {% if page.share != false %}
        <hr />
        {% include _social-share.html %}
      {% endif %}
    </div><!-- /.article-wrap -->
    {% include _gallery-nav.html %}
  </article>

</div><!-- /#index -->


{% include _footer.html %}
{% include _scripts.html %}

</body>
</html>
