<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _navigation.html %}
{% if page.image.feature %}
{% include _page-image.html %}
{% endif %}

<div id="main" role="main">
{% include _side-author-hack.html %}
  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title | markdownify | remove: '<p>' | remove: '</p>'}}</a></h1>
      {% endif %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {{ content }}
      <hr />

        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline"><strong>{{ page.title | markdownify | remove: '<p>' | remove: '</p>'}}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>

      <nav class="pagination" role="navigation">
          {% if page.previous %}
              <a href="{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
          {% endif %}
          {% if page.next %}
              <a href="{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
          {% endif %}
      </nav><!-- /.pagination -->
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#main -->


<div class="footer-wrap">
  {% if site.related_posts.size > 0 %}
  <div class="related-articles">
    <hr />
  <h3>You might also enjoy <small class="pull-right">(<a href="/writing/">View everything</a>)</small></h3>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>'}}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  {% endif %}
</div><!-- /.footer-wrap -->

{% include _footer.html %}

{% include _scripts.html %}

</body>
</html>
